@model IEnumerable<HospitalDBMS.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2><b><u>Patient Report Table</u></b></h2>

<p>
    @Html.ActionLink("Add New Patient", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Search By Report: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmitDateAndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Report)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportDateAndTime)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdmitDateAndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Report.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDateAndTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Patient_Id })
                @*|
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
